<footer>
  <p>© Joey Nasser</p>
  <p>All rights reserved</p>
  <ul>
    <li>
      <a href="https://twitter.com/JoeyTheNasser">twitter</a>
    </li>
    <li><a href="https://joeynasser.tumblr.com">tumblr</a></li>
  </ul>
</footer>

<style>
  footer {
    font-size: small;
    line-height: 1.6em;
    color: rgb(102, 102, 102);
  }

  ul {
    margin-top: 1em;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
