<nav>
  <ul>
    <li>Writing</li>
    <li><a href="/animation">Animation</a></li>
    <li><a href="/illustration">Illustration</a></li>
    <li><a href="/story-boarding">Story Boarding</a></li>
    <li><a href="/">Voice-Acting</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
