---
const active = new URL(Astro.request.url).pathname;

function prependBase(href: string) {
  return `${import.meta.env.BASE_URL}${href}`;
}
---

<div class="menu">
  <nav class="nav">
    <ul>
      <li>Writing</li>
      <li>
        <a
          href={prependBase("animation")}
          class:list={{ active: prependBase("animation") === active }}
          >Animation</a
        >
      </li>
      <li>
        <a
          href={prependBase("illustration")}
          class:list={{ active: prependBase("illustration") === active }}
          >Illustration</a
        >
      </li>
      <li>
        <a
          href={prependBase("story-boarding")}
          class:list={{ active: prependBase("story-boarding") === active }}
          >Story Boarding</a
        >
      </li>
      <li>
        <a
          href={import.meta.env.BASE_URL}
          class:list={{ active: import.meta.env.BASE_URL === active }}
          >Voice-Acting</a
        >
      </li>
      <li>
        <a
          href={prependBase("about")}
          class:list={{ active: prependBase("about") === active }}>About</a
        >
      </li>
      <li>
        <a
          href={prependBase("resume")}
          class:list={{ active: prependBase("resume") === active }}>Resume</a
        >
      </li>
      <li>
        <a
          href={prependBase("contact")}
          class:list={{ active: prependBase("contact") === active }}>Contact</a
        >
      </li>
    </ul>
  </nav>
  <label for="menu-toggle">Menu</label>
  <input id="menu-toggle" type="checkbox" />
</div>
<div class="toggle-button-spacer"></div>

<style>
  .menu {
    translate: 0 calc(-8lh - 2em);
    transition: translate ease-in-out 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    font-family: "Glegoo";
    line-height: 2.5em;
    text-align: center;
    color: rgba(156, 156, 156);
  }

  .menu:has(#menu-toggle:checked) {
    translate: 0;
  }

  .nav {
    background: #111111;
    padding: 1em 0;
    color: rgba(156, 156, 156, 0.7);
  }

  .nav ul {
    list-style: none;
    padding: 0;
  }

  .nav a {
    color: inherit;
    text-decoration: none;
  }

  .nav a.active {
    color: #9c9c9c;
  }

  label {
    cursor: pointer;
  }

  #menu-toggle {
    opacity: 0;
    width: 1px;
    height: 1px;
  }

  .toggle-button-spacer {
    line-height: 2.5em;
    height: 1lh;
  }
</style>
