---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.jpg";
import "../assets/styles/reset.css";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;

function getTitle() {
  if (title) {
    return `${title} — Joey Nasser`;
  }
  return "Joey Nasser";
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{getTitle()}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Glegoo&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <div class="canvas">
      <a href="/" class="logo"><Image src={logo} loading="eager" alt="" /></a>
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  body {
    font-family: sans-serif;
  }

  .canvas {
    padding: 20px;
  }

  .logo {
    display: block;
    margin-bottom: 140px;
  }
</style>
