---
import { Image } from "astro:assets";
import "lite-youtube-embed/src/lite-yt-embed.css";
import logo from "../assets/images/logo.jpg";
import "../assets/styles/reset.css";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;

function getTitle() {
  if (title) {
    return `${title} — Joey Nasser`;
  }
  return "Joey Nasser";
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{getTitle()}</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Glegoo&display=swap"
      rel="stylesheet"
    />

    <!-- https://github.com/paulirish/lite-youtube-embed -->
    <script>
      import "lite-youtube-embed/src/lite-yt-embed.js";
    </script>
  </head>
  <body>
    <header>
      <Menu />
    </header>
    <div class="canvas">
      <a href="/" class="logo"><Image src={logo} loading="eager" alt="" /></a>
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: rgb(102, 102, 102);
  }

  .canvas {
    padding: 20px;
  }

  .logo {
    display: block;
    margin-bottom: 140px;
  }

  main {
    margin-bottom: 100px;
  }
</style>
